@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Primary Colors */
  --base-violet: 235 69% 61%;
  --base-violet2: 235 82% 77%;
  --base-violet-light: 235, 69%, 96%;
  --base-violet2-light: 235, 69%, 84%;
  --base-dark: 219 29% 14%;
  --base-midnight: 219 29% 10%

  /* Secondary Colors */
  --light-grey: 217 26% 97%;
  --gray: 212 23% 69%;
  --dark-gray: 214 17% 51%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  h1 {
    @apply font-bold text-[1.75rem] leading-[34.73px];
  }

  h2 {
    @apply font-bold text-2xl
  }

  
  h3 {
    @apply font-bold text-xl
  }

  
  h4 {
    @apply font-bold text-sm
  }
  
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
