@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --text: black;

  /* colors */
  --color-violet-normal: 235 69% 61%;
  --color-violet-light: 235 82% 77%;
  --color-blue-dark: 219 29% 14%;
  --color-midnight: 219 29% 10% --color-grey-normal: 212 23% 69%;
  --color-grey-light: 217 26% --color-grey-dark: 214 17% 51%;
  --color-violet-light1: 235 69% 96%;
  --color-violet-light2: 235 69% 84%;

  /* animation */
  --animation-curve: cubic-bezier(0.34, 1.36, 0.2, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --text: white;
  }
}

@layer base {
  h1 {
    @apply text-[1.75rem] font-bold leading-[34.73px];
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-sm font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  #switch:checked ~ label {
    transform: translatex(23px) rotatez(360deg);
  }

  #switch ~ label {
    transition: all 0.5s var(--animation-curve);
  }
}
